<html>
<head>
<title>${controller.site_title} ${title}</title>
<link href="${req.base_url}/static/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript"
 src="${req.base_url}/static/jquery-1.3.2.min.js"></script>
<script type="text/javascript"
 src="${req.base_url}/static/datepicker/js/jquery-ui-1.7.1.custom.min.js"></script>
<script type="text/javascript"
 src="${req.base_url}/static/datepicker/js/daterangepicker.jQuery.js"></script>
<link href="${req.base_url}/static/datepicker/css/ui.daterangepicker.css"
 rel="stylesheet" type="text/css">
<link href="${req.base_url}/static/datepicker/css/redmond/jquery-ui-1.7.1.custom.css"
 rel="stylesheet" type="text/css" title="ui-theme" />

<script type="text/javascript">
$(function () {
 $("input.daterange").each(function () {$(this).daterangepicker()});
});
</script>

</head>

<body>
<h1 id="header"><a href="${req.base_url}">${title}</a></h1>

<div id="body">
  ${self.body()}
</div>

</body> </html>
