<%inherit file="base.html" />

<table style="width: 100%">
  <tr>
    <th>Count</th>
    <th>Referrer</th>
    <th>Destination</th>
  </tr>
% for count, (referrer, url) in data.referrers.counts_most_frequent():
  <tr>
    <td style="width: 10%">${count}</td>
    <td style="width: 55%" class="url"><a href="${referrer}" target="_blank" class="external">${referrer.split('?')[0]}</a></td>
    <td style="width: 35%" class="url"><a href="${url}" target="_blank" class="external">${url}</a></td>
  </tr>
% endfor
</table>
